<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="300">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Station</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="static/color_themes/{{color_theme}}" type="text/css">
    <link rel="stylesheet" href="static/weather-icons.css" type="text/css">
    <link rel="stylesheet" href="static/weather-icons-wind.css" type="text/css">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <script type="text/javascript" src="static/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="static/javascript.js"></script>


</head>
<body class="w3-theme-l4">



    <div class="w3-row w3-theme w3-border-bottom">

        {# ---Header - Left section - Current weather summary--- #}

        <div class="w3-col s12 m12 l4">
            <div class="full_width" style="text-align:center;position:relative">

                <div class="full_width xlarge_font w3-border-bottom">
                    <div class="right_float" style="padding-right: 10px;">{{weather_now.city_name}}</div>
                    <div class="after_float"></div>
                </div>

                {#<div class="left_float xxxlarge_font"><i class="wi wi4 wi-thermometer"></i></div>#}

                <div class="right_float swap_values" id="temperature">
                    <div style="font-size:4.1em;font-weight:600">{{weather_now.temp_now}} °C</div>
                    <div class="large_font2">
                        {{forecast.temp_min[0]}} °C - {{forecast.temp_max[0]}} °C
                    </div>
                </div>

                <div class="right_float swap_values xxxlarge_font" id="humidity" style="display:none">
                    <div>{{weather_now.humidity}} %</div>
                    <div><i class="wi wi3 wi-humidity"></i></div>
                </div>

                <div class="right_float swap_values xxxlarge_font" id="pressure" style="display:none">
                    <div>{{weather_now.pressure}} hPA</div>
                    <div><i class="wi wi3 wi-barometer"></i></div>
                </div>

                <div class="right_float swap_values xxxlarge_font" id="wind" style="display:none">
                    <div>{{weather_now.wind_speed}} Km/h</div>
                    <div><i class="wi wi3 wi-wind from-{{weather_now.wind_dir}}-deg"></i></div>
                </div>

                <div class="right_float xxxlarge_font" style="position:absolute;right:230px">
                    <i class="wi wi1 {{ weather_now.weather_icon }}"></i>
                </div>

                <div class="right_float" id="placeholder1" style="height: 139px;">
                </div>

                <div class="after_float"></div>

            </div>

        </div>

        {# ---Header - Center section - Time--- #}

        <div class="w3-col s12 m12 l4 w3-center">
              <div>
                   <span class="time" id="time1">--:--</span>
                   <span> </span>
                   <span class="time_sec" id="sec1">--</span>
              </div>
        </div>

        {# ---Header - Right section - Indoor conditions (from sensor)--- #}

        <div class="w3-col s12 m12 l4">

            <div class="full_width" style="text-align:center;position:relative">

                <div class="full_width xlarge_font w3-border-bottom">
                    <div class="left_float" style="padding-left:10px;">
                        {{weather_now.day_of_week}}, <span id="date1">---/--/--</span>
                    </div>
                    <div class="after_float"></div>
                </div>

                <div class="left_float swap_values" id="temperature_in">
                    <div style="font-size:4.1em;font-weight:600;padding-left:10px;">{{sensor.temperature}} °C</div>
                </div>

                <div class="left_float swap_values xxxlarge_font" id="humidity_in" style="display:none">
                    <div style="padding-left:10px;">{{sensor.humidity}} %</div>
                    <div><i class="wi wi3 wi-humidity"></i></div>
                </div>

                <div class="left_float swap_values xxxlarge_font" id="pressure_in" style="display:none">
                    <div style="padding-left:10px;">{{sensor.pressure}} hPA</div>
                    <div><i class="wi wi3 wi-barometer"></i></div>
                </div>

                <div class="right_float" id="placeholder2" style="height: 139px;">
                </div>

                <div class="after_float"></div>
            </div>
        </div>
    </div>


    <div class="w3-row w3-theme-d2 w3-border-bottom">
        <div class="w3-col s12 m12 l4 w3-center">

            <div class="xlarge_font full_width" style="text-align:center">
                <i class="wi wi3 wi-sunrise"></i> {{weather_now.sunrise}}
            </div>

        </div>

        <div class="w3-col s12 m12 l4 w3-center">

            <div class="xlarge_font full_width" style="text-align:center">{{weather_now.weather_desc}}</div>

        </div>

        <div class="w3-col s12 m12 l4 w3-center">

            <div class="xlarge_font full_width" style="text-align:center">
                <i class="wi wi3 wi-sunset"></i> {{weather_now.sunset}}
            </div>

        </div>
    </div>

        <div class="w3-center dynamic_container">
                {# Day0 is today's forecast, but we don't show it in this layout (display:none)#}
                <div class="left_float_forecast w3-card-2 default_card w3-card-text" style="display:none">
                    <div class="w3-theme">{{lang_dict.today}}</div>   {# forecast.day_of_week[0] #}
                    <div class="xlarge_font"><i class="wi wi3 wi-owm-{{ forecast.weather_id[0] }}"></i></div>
                    <div class="half_font fix_height w3-border-bottom">{{forecast.weather_desc[0]}}</div>
                    <div><i class="wi wi3 wi-thermometer"></i>{{forecast.temp_min[0]}}°C - {{forecast.temp_max[0]}}°C</div>
                    <div class="w3-text-green w3-border-bottom">
                        <i class="wi wi2 wi-direction-right"></i>
                        {{forecast.temp_diff[0]}}°C
                    </div>
                    <div><i class="wi wi3 wi-humidity"></i>{{forecast.humidity[0]}}%</div>
                    <div><i class="wi wi3 wi-barometer"></i>{{forecast.pressure[0]}} hPA</div>
                </div>

                <div class="left_float_forecast w3-card-2 default_card w3-card-text">
                    <div class="w3-theme">{{forecast.day_of_week[1]}}</div>
                    <div class="xlarge_font"><i class="wi wi3 wi-owm-{{ forecast.weather_id[1] }}"></i></div>
                    <div class="half_font fix_height w3-border-bottom">{{forecast.weather_desc[1]}}</div>
                    <div><i class="wi wi3 wi-thermometer"></i>{{forecast.temp_min[1]}}°C - {{forecast.temp_max[1]}}°C</div>
                    <div class="w3-text-{{forecast.temp_diff_trend[1][1]}} w3-border-bottom">
                        <i class="wi wi2 {{forecast.temp_diff_trend[1][0]}}"></i>
                        {{forecast.temp_diff[1]}}°C
                    </div>
                    <div><i class="wi wi3 wi-humidity"></i>{{forecast.humidity[1]}}%</div>
                    <div><i class="wi wi3 wi-barometer"></i>{{forecast.pressure[1]}} hPA</div>
                </div>

                <div class="left_float_forecast w3-card-2 default_card w3-card-text">
                    <div class="w3-theme">{{forecast.day_of_week[2]}}</div>
                    <div class="xlarge_font"><i class="wi wi3 wi-owm-{{ forecast.weather_id[2] }}"></i></div>
                    <div class="half_font fix_height w3-border-bottom">{{forecast.weather_desc[2]}}</div>
                    <div><i class="wi wi3 wi-thermometer"></i>{{forecast.temp_min[2]}}°C - {{forecast.temp_max[2]}}°C</div>
                    <div class="w3-text-{{forecast.temp_diff_trend[2][1]}} w3-border-bottom">
                        <i class="wi wi2 {{forecast.temp_diff_trend[2][0]}}"></i>
                        {{forecast.temp_diff[2]}}°C
                    </div>
                    <div><i class="wi wi3 wi-humidity"></i>{{forecast.humidity[2]}}%</div>
                    <div><i class="wi wi3 wi-barometer"></i>{{forecast.pressure[2]}} hPA</div>
                </div>

                <div class="left_float_forecast w3-card-2 default_card w3-card-text">
                    <div class="w3-theme">{{forecast.day_of_week[3]}}</div>
                    <div class="xlarge_font"><i class="wi wi3 wi-owm-{{ forecast.weather_id[3] }}"></i></div>
                    <div class="half_font fix_height w3-border-bottom">{{forecast.weather_desc[3]}}</div>
                    <div><i class="wi wi3 wi-thermometer"></i>{{forecast.temp_min[3]}}°C - {{forecast.temp_max[3]}}°C</div>
                    <div class="w3-text-{{forecast.temp_diff_trend[3][1]}} w3-border-bottom">
                        <i class="wi wi2 {{forecast.temp_diff_trend[3][0]}}"></i>
                        {{forecast.temp_diff[3]}}°C
                    </div>
                    <div><i class="wi wi3 wi-humidity"></i>{{forecast.humidity[3]}}%</div>
                    <div><i class="wi wi3 wi-barometer"></i>{{forecast.pressure[3]}} hPA</div>
                </div>

                <div class="left_float_forecast w3-card-2 default_card w3-card-text">
                    <div class="w3-theme">{{forecast.day_of_week[4]}}</div>
                    <div class="xlarge_font"><i class="wi wi3 wi-owm-{{ forecast.weather_id[4] }}"></i></div>
                    <div class="half_font fix_height w3-border-bottom">{{forecast.weather_desc[4]}}</div>
                    <div><i class="wi wi3 wi-thermometer"></i>{{forecast.temp_min[4]}}°C - {{forecast.temp_max[4]}}°C</div>
                    <div class="w3-text-{{forecast.temp_diff_trend[4][1]}} w3-border-bottom">
                        <i class="wi wi2 {{forecast.temp_diff_trend[4][0]}}"></i>
                        {{forecast.temp_diff[4]}}°C
                    </div>
                    <div><i class="wi wi3 wi-humidity"></i>{{forecast.humidity[4]}}%</div>
                    <div><i class="wi wi3 wi-barometer"></i>{{forecast.pressure[4]}} hPA</div>
                </div>

                <div class="left_float_forecast w3-card-2 default_card w3-card-text">
                    <div class="w3-theme">{{forecast.day_of_week[5]}}</div>
                    <div class="xlarge_font"><i class="wi wi3 wi-owm-{{ forecast.weather_id[5] }}"></i></div>
                    <div class="half_font fix_height w3-border-bottom">{{forecast.weather_desc[5]}}</div>
                    <div><i class="wi wi3 wi-thermometer"></i>{{forecast.temp_min[5]}}°C - {{forecast.temp_max[5]}}°C</div>
                    <div class="w3-text-{{forecast.temp_diff_trend[5][1]}} w3-border-bottom">
                        <i class="wi wi2 {{forecast.temp_diff_trend[5][0]}}"></i>
                        {{forecast.temp_diff[5]}}°C
                    </div>
                    <div><i class="wi wi3 wi-humidity"></i>{{forecast.humidity[5]}}%</div>
                    <div><i class="wi wi3 wi-barometer"></i>{{forecast.pressure[5]}} hPA</div>
                </div>

                <div class="after_float"></div>

        </div>



<script>

$(function() {
  // Handler for .ready() called.
  startTime();
  startSwapPanels();
});


</script>

</body>
</html>
